
/* bas de page*/
.footer{
  background-color:#27374d;
  height: 12vh;
  width:100%;
}
h5{
  text-align: center;
  color:white;
  font-family: "times new roman";

}
.footer a{
  text-decoration: none;
  color:black;
  font-family: "times new roman";
}
/*fin de page*/
.oui{
color:#fff ;}