/*Import Google fontlink*/
      *{
            margin:0;
            padding:0;
            box-sizing: border-box;
            font-family: 'Times New Roman', Times, serif;
        
        }
        /* style de la page index*/
          body{
                background-color:#083068;
               
            }
            .container{
                display:flex;
                align-items: center;
                justify-content:center;
                min-height:150vh;
            }
            form label{
                color:#083068;
            }
            /*fieldset{
                background-color:#27374d;
                width:40%;
                height:45%;
                margin-left:30%;
                margin-top:;
            }*/
            .box{
                background-color:white;
                padding:85px 95px;
                border-radius:20px;
                height:150%;
            }

           
            
            .form-box{
                width: 500px;
                margin:0px 10px;
            }
            .form-box header{
                border-bottom: 2px solid #e6e6e6;
                margin-bottom:10px;
                padding-bottom:10px;
            }
            .form-box form .field{
                display:flex;
                margin-bottom:10px;
                flex-direction:column;
            }
            .form-box form .input input{
                height: 40px;
                width:115%;
                border-radius:10px;
            }
            #enre{
                height: 40px;
                width: 115%;
                border-radius:10px;
                color:#ffff;
                margin-top: 10px;
                font-size: 20px;
            }
            h4{
                
            }.image{
                width: 60%;
                margin-top: -10%;
            }
            .custom-width {
                width: 100%;
              }