/*Import Google fontlink*/
         @import url("https://fonts.googleapis.com/css2? family=poppins:wght@400;600&display=swap");
      *{
            margin:0;
            padding:0;
            box-sizing: border-box;
            font-family:"poppins",sans-serif;
        
        }
        /* style de la page index*/
          body{
                background-image:linear-gradient(to right,#fff,#6565eb,#ca8585,#fff,#8d8df3,#27374d ,#6565eb);
                background-size: 200% auto ;
                animation:animateBackground 10s linear infinite;
            }
            .container{
                display:flex;
                align-items: center;
                justify-content:center;
                min-height:150vh;
            }
            /*fieldset{
                background-color:#27374d;
                width:40%;
                height:45%;
                margin-left:30%;
                margin-top:;
            }*/
            .box{
                background-color:white;
                padding:75px 75px;
                border-radius:20px;
                height:150%;
            }
            
            .form-box{
                width: 500px;
                margin:0px 10px;
            }
            .form-box header{
                border-bottom: 1px solid #e6e6e6;
                margin-bottom:10px;
                padding-bottom:10px;
            }
            .form-box form .field{
                display:flex;
                margin-bottom:10px;
                flex-direction:column;
            }
            .form-box form .input input{
                height: 40px;
                width:100%;
                border-radius:5px;
            }
            #enre{
                height: 40px;
                background-color:rgba(76, 68, 182, 0.808);
                border-radius:5px;
                color:#ffff;
                margin-top: 10px;
                transition: all .3s;
                font-size: 15px;
            }
            h1{
                text-align:center;
                margin-top:10%;
            }.image{
                width: 50%;
            }
            .custom-width {
                width: 100%;
              }